{% extends 'base.html.twig' %}

{% block title %}Topowi Strzelcy{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Topowi Strzelcy w Sezonie {{ season }}</h1>

        <form method="get" action="{{ path('player_analysis') }}" class="mb-4">
            <div class="form-row">
                <div class="col">
                    <label for="season">Sezon</label>
                    <select name="season" id="season" class="form-control">
                        {% for year in 2018..2023 %}
                            <option value="{{ year }}" {% if season == year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label for="league">Liga</label>
                    <select name="league" id="league" class="form-control">
                        <option value="39" {% if leagueId == 39 %}selected{% endif %}>Premier League</option>
                        <option value="135" {% if leagueId == 135 %}selected{% endif %}>Serie A</option>
                        <option value="140" {% if leagueId == 140 %}selected{% endif %}>La Liga</option>
                        <option value="61" {% if leagueId == 61 %}selected{% endif %}>Ligue 1</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Pobierz Strzelców</button>
        </form>

        <div class="list-group">
            {% for scorer in scorers %}
                <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                    <img src="{{ scorer.player.photo }}" alt="{{ scorer.player.name }}" class="img-thumbnail" style="width: 50px; height: 50px; margin-right: 15px;">
                    <div>
                        <h5 class="mb-1">{{ scorer.player.name }}</h5>
                        <p class="mb-1">Bramki: {{ scorer.statistics[0].goals.total }}</p>
                        <small>{{ scorer.statistics[0].team.name }}</small>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
